<!doctype html>
<html lang=en>
	<head>
		<title>Your Fridge</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1">
	</head>
	<body>
		<header>
			{% if user.is_authenticated  %}
				<a href="/">Home</a>
				<a href="/thing_list">All your products</a> 
				-- Hello {{ user }} 
				<a href="/logout">Log out</a>
			{% else %}
				<a href="/about">About</a> 
				 <a href="register">Register new account</a>
				 <a href="/login">Login</a>
			{% endif %}
		</header>
		<h1>Your Fridge</h1>

		{% block "content" %}	
			empty page
		{% endblock "content" %}	
		
	</body>
	

</html>
