{% extends "fridge/base.html" %}
{% block "content" %}
	{% if object %}
		<h2>{{ object }}</h2>
			<p>
				Items in {{ object }}
				{% for thing in object.things.all %}
					<li>
						<a href="/thing/{{ thing.pk }}">{{ thing }}</a>
						{% if thing.name %}
							"{{ thing.name }}"
						{% endif %}
						{% if thing.expiration_date %} 
							{% if thing.is_past_due %}
								<mark class:"red">expired! {{ thing.expiration_date }}</mark>	
							{% else %}
								exp. {{ thing.expiration_date }}
							{% endif %}

						{% endif %}
					 </li>
				 {% endfor %}
			</p>
		
	{% else %}
		<h2>Add new storage</h2>
	{% endif %}		
	<form method=post>
		{% csrf_token %}
		{{ form.as_p }}
		<p>
			<a href="/">Cancel</a>
			<input type=submit value="Submit">
		</p>
	</form>

	{% if object %}
		<p><a href="/storage/{{ object.pk }}/delete">Delete this storage</a></p>
	{% endif %}
	
{% endblock "content" %}
