{% extends "fridge/base.html" %}

{% block "content" %}
	<h2>All your items</h2>
	{% for object in object_list  %}
	
		<p>
			<li>
				<a href="/thing/{{ object.pk }}">{{ object.product }}</a>
				in <a href="/storage/{{ object.storage.pk }}">{{ object.storage }}</a>.
				{% if object.name %}
					"{{ object.name }}"
				{% endif %}
				{% if object.expiration_date %} 
					{% if object.is_past_due %}
						<mark class:"red">expired! {{ object.expiration_date }}</mark>	
					{% else %}
						exp. {{ object.expiration_date }}
					{% endif %}

				{% endif %}
			 </li>
		</p>
	{% endfor %}
	<br>
	<p><a href="thing/new">Add item</a></p>
{% endblock "content" %}
 
