{% extends "fridge/base.html" %}

{% block "content" %}
	<h2>All your items</h2>
	{% for object in object_list  %}
	
		<p>
			{% if object.product %}
				 <a href="/product/{{ object.product.pk }}">{{ object.product }}</a>
			{% endif %} 
			{% if object.storage %}
				in  <a href="/storage/{{ object.storage.pk }}">{{ object.storage }}</a>.
			{% endif %}
			{% if object.name %}
				"{{ object.name }}"
			{% endif %}
			<b><a href="trip/{{ object.pk }}">UPDATE</a></b>
		</p>
	{% endfor %}
	<br>
	<p><a href="trip/new">Add item</a></p>
{% endblock "content" %}
 
